.oo-icon-heading {
  position: relative;
  padding-left: 1.3em;
}
.oo-icon-heading:after {
   margin-left: 1em; 
   border: none;
}
.oo-icon-heading img {
    display: inline-block;
    height: 0.8em;
    position: absolute;
    margin-right: 0.2em;
    left: 0;
    top: 0.2em;
}